<li>
    <div class="mt-1 row">
        <div class="col-md-4">
            <h6>{{burger_name}}</h6>
        </div>

        <div class="col-md-8">
            <button type="submit" id="deleteBurgerBtn" class="ml-2 float-right btn btn-danger">Delete</button>
            <button type="submit" id="devourBurgerBtn" class="float-right btn btn-dark">Devour</button>
        </div>
    </div>
</li>